################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Jukebox Project/FileContentIndex/437819a8-760d-4539-9e0d-31b1bdd906fc.vsidx
